<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gsoc.vedantsingh.locatedvoicecms">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="false"
        android:requiresSmallestWidthDp="600"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- Required for the kiosk mode -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/lvc_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Google Maps Fragment API Key Data -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCfuGtB5HGk0p3aoOY7LvW_rUNA_i3cv3c" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name=".data.POIsProvider"
            android:authorities="com.gsoc.vedantsingh.locatedvoicecms"
            android:enabled="true"
            android:exported="true" /> <!-- <uses-sdk android:minSdkVersion="21" /> -->
        <activity
            android:name=".CreateItemActivity"
            android:label="@string/title_activity_create_item"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".UpdateItemActivity"
            android:label="@string/title_activity_update_item"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" /> <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.GET_CONTENT" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- </intent-filter> -->
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LGPC"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".LGPCAdminActivity"
            android:screenOrientation="landscape"
            android:label="Administration Tools"
            android:theme="@style/AppTheme.WithActionBar" />
        <activity
            android:name=".InfoActivity"
            android:label="@string/title_activity_info"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Help"
            android:label="@string/title_activity_help"
            android:screenOrientation="landscape" />

        <service
            android:name=".PW.UrlDeviceDiscoveryService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".PW.ScreenListenerService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name=".PW.AutostartPwoDiscoveryServiceReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver> <!-- This is required for the scan library. -->
        <service
            android:name="org.uribeacon.scan.compat.ScanWakefulService"
            android:exported="false" />
        <service
            android:name="org.uribeacon.config.GattService"
            android:exported="false" /> <!-- This is required for the scan library. -->
        <receiver android:name="org.uribeacon.scan.compat.ScanWakefulBroadcastReceiver" /> <!-- This is required for the kiosk mode. -->
        <receiver
            android:name=".utils.kioskModeUtils.BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>